    <header id="first">
        <div class="header-content">
            <div class="inner row">
                <div class="col-md-2 col-sm-2 col-xs-2"><img width="100%" height="50%" src="images/lips.png"></img></div>
                <div class="col-md-8 col-sm-8 col-xs-8"><img width="100%" height="50%" src="logos/Inspired-Salon_w-b.png"></img></div>
                <div class="col-md-2 col-sm-2 col-xs-2"><img width="100%" height="50%" src="images/stash.png"></img></div>
            </div>
            <h1 class="cursive-lettering">by Carolyn</h1>
            <img width="60px" height="100px" src="images/logo.png">
        </div>
    </header>