<div style="margin-bottom: 50px;" class="container">
    <div class="row">
		<div style="text-align: center;" class="col-md-12">
		    <h1 style="margin: 0 0 50px 0; border-bottom: 1px solid #333; padding-bottom: 30px;" class="cursive-lettering">Products I Use</h1>
                <div id="Carousel" class="carousel slide">
                 
                <ol class="carousel-indicators">
                    <!-- <li data-target="#Carousel" data-slide-to="0" class="active"></li> -->
                    <!-- <li data-target="#Carousel" data-slide-to="1"></li> -->
                </ol>
                 
                <!-- Carousel items -->
                <div class="carousel-inner">
                    
                <div class="item active">
                	<div class="row">
                	  <div class="col-md-4"><a href="#" class="thumbnail"><img src="products/273738163_794485168159775_1543514253070180319_n.png" alt="Image" style="max-width:100%;"></a></div>
                	  <div class="col-md-4"><a href="#" class="thumbnail"><img src="products/326243326_732967224759968_1494163130337574813_n.jpg" alt="Image" style="max-width:100%;"></a></div>
                	  <div class="col-md-4"><a href="#" class="thumbnail"><img src="products/E57E0504-68C8-4B2D-BCEF-08840B3439E1.JPG" alt="Image" style="max-width:100%;"></a></div>
                	</div>
                </div>
                 
                <!-- <div class="item">
                	<div class="row">
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="products/brazilianblowout.png" alt="Image" style="max-width:100%;"></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="products/loma.png" alt="Image" style="max-width:100%;"></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="products/moroccanoil.png" alt="Image" style="max-width:100%;"></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="products/redken.png" alt="Image" style="max-width:100%;"></a></div>
                	</div>
                </div> -->
                 
                </div><!--.carousel-inner-->
                  <!-- <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                  <a data-slide="next" href="#Carousel" class="right carousel-control">›</a> -->
                </div><!--.Carousel-->
                 
		</div>
	</div>
</div><!--.container-->

<!--remember to add a <li data-target="#Carousel" data-slide-to="2"></li> if your adding another row-->