<ul center class="social">
    <!--<li>-->
    <!--  <a target="_blank" href="#" class="Twitter">-->
    <!--    <i class="fa fa-twitter"></i>-->
    <!--  </a>-->
    <!--</li>-->
    <li>
      <a target="_blank" href="https://www.instagram.com/inspiredsalonbycarolyn/" class="Instagram">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.facebook.com/InspiredSalonbyCarolyn" class="Facebook">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.yelp.com/biz/inspired-salon-by-carolyn-naperville" class="Yelp">
        <i class="fa fa-yelp"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.google.com/search?client=ms-android-verizon&biw=360&bih=278&q=Inspired+Salon+by+Carolyn&ludocid=1040657030152313595&ibp=gwp;0,7&kgs=bf19232214d7ecef&shndl=-1&source=sh/x/kp/local&entrypoint=sh/x/kp/local" class="Google">
        <i class="fa fa-google"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.google.com/maps/place/Inspired+Salon+by+Carolyn/@41.781203,-88.175277,13z/data=!4m12!1m6!3m5!1s0x0:0xe71280e273ddafb!2sInspired+Salon+by+Carolyn!8m2!3d41.7812031!4d-88.1752774!3m4!1s0x0:0xe71280e273ddafb!8m2!3d41.7812031!4d-88.1752774?hl=en-US" class="Locator">
        <i class="fa fa-map-marker"></i>
      </a>
    </li>
  </ul>