---
title: InspiredSalonByCarolyn
---
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="image" content="logos/circle-logo.jpg">
    <meta name="description" content="Stylish Hair And Happy Faces For His And Hers">
    <meta name="author" content="Carolyn">
    <meta name="keywords" content="brazilian, blowout, haircut, salon, kids, cuts, mens, womans, hair, prom, wedding, products, best, awesome, chicago, illinois, greatest" />
    <meta property="og:site_name" content="InspiredSalonByCarolyn"/>
    <meta property="og:title" content="Salon For His And Hers"/>
    <meta property="og:description" content="Stylish Hair And Happy Faces For His And Hers"/>
    <meta property="og:url" content="http://inspiredsalonbycarolyn.com/">
    <meta property="og:image" content="logos/circle-logo.jpg">
    <meta property="og:type" content="Haircuts"/>

    <title>{{page.title}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    
{% include header.html %}

{% include navbar.html %}

{% include socials.html %}

{{content}}

{% include footer.html %}
    
    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <script src="js/js.js"></script>

</body>

</html>